importFrom("stats","time","uniroot")
importFrom("Hmisc","label<-","upData")
import("pomp")
export(seq.function, scaled, paramset, titrate, newton.raphson, Onoue.Friberg, sim)
S3method(seq,"function")
